#############################
# Begin: Visual Studio      #
#############################

**/*.vcxproj
**/*.filters
**/*.sln
**/*.opensdf
**/*.suo
**/*.sdf
**/*.user

/Release
/Debug
/[Bb]in*
/[Bb]uild*

#############################
# End: Visual Studio        #
#############################

#############################
# Begin: Documentation      #
#############################

/doc/html*
/doc/latex*
/doc/man*

/doc/*.tmp
/doc/doxygen/*.pdf
/doc/doxygen/doxygen_log.txt

#############################
# End: Documentation        #
#############################

#############################
# Begin: Others             #
#############################

/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles

/outputs
/outputs.zip
/outputs_

#############################
# End: Others               #
#############################