%YAML:1.2
---
############################################
# This is the GRAPHSGEN configuration file #
############################################

use_frequencies: false

force_frequencies_count: false
force_odt_generation: false

datasets: ["fingerprints", "hamlet"]

paths: {input: "${GRAPHGEN_INPUT_PATH}", output: "${GRAPHGEN_OUTPUT_PATH}"}

# Currently supported output formats are "pdf", "png", and "svg"
# The background can be one of the color supported by dot, such 
# as "white", "red", "turquoise", "sienna", "transparent", etc 
dot: {out_format: "svg", background: "transparent" }

############################################
# This is the GRAPHSGEN configuration file #
############################################