/* GRAPHGEN Custom Styles */

/* Home page section numbering */
body { counter-reset: h2; }
h2.num { counter-reset: h3; }
h3.num { counter-reset: h4; }
h4.num { counter-reset: h5; }
h5.num { counter-reset: h6; }

h2.num::before { counter-increment: h2; content: counter(h2) ". "; }
h3.num::before { counter-increment: h3; content: counter(h2) "." counter(h3) ". "; }
h4.num::before { counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "; }
h5.num::before { counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }
h6.num::before { counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "; }

h2.nocount::before, h3.nocount::before, h4.nocount::before, h5.nocount::before, h6.nocount::before 
{
   content: "";
   counter-increment: none;
}

/* Title area */
#projectnumber {
    font-size: 125%;
    font-family: Tahoma, Arial, sans-serif;
    text-align: right;
    padding: 0.5em 1em;
}

#projectlogo {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
}

/* Header style */
h1, h2, h3, h4, h5, h6 {
    color: #002D88;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 100%;
}

h1 {
    font-size: 150%;
    border-bottom: 1px solid #3276FF;
}
h2 {
    font-size: 135%;
    margin-top: 0.75em;
}
h3 {
    font-size: 120%;
    margin-top: 0.5em;
}
h4 {
    font-size: 100%;
    margin-top: 0.5em;
}

/*
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page_container {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

div.contents, div.searchresults {
    margin-top: 10px;
    margin-right: 12px;
    padding-bottom: 70px;
}

.tabs {
    font-size: 14px;
}
.tabs2, .tabs3 {
    font-size: 12px;
}

.navpath ul {
    font-size: 12px;
}

div.headertitle h1 {
    margin: 10px 2px;
    border: none;
    padding: 0;
    width: auto;
    color: black;
    font-weight: bold;
}

div.toc h3 {
    font-size: 14px;
}

div.toc li {
    font-size: 12px;
    line-height: 1.3;
    padding-left: 14px;
}

img.logo {
    float: right;
    margin: 20px;
}

div.logo {
    float: right;
    margin: 20px;
}

table.directory {
    line-height: 1.5;
}

.icon {
    line-height: 1.25;
}

div.appearance {
    margin: 1em 0em;
}
div.appearance table {
    margin: 0.5em 0em;
    width: 100%;
    text-align: center;
}
div.appearance img {
    margin: 0.5em;
}
div.appearance .caption {
    font-style: italic;
    font-weight: normal;
    font-size: 90%;
}

td.green { color: green; }
td.orange { color: #ff8000; }
td.red { color: red; }

span.literal {
    text-decoration: none;
    font-weight: bold;
    font-family: monospace, fixed;
}
*/

/* we make all the following <span> tags render the text just like
  the standard Doxygen @remarks, @see tags do, to obtain a uniform
  look and feel */
/*
span.itemdef, span.lib, span.category, span.stdobj, span.styles,
span.events, span.flags, span.appearance, span.impl, span.avail {
    font-weight: bold;
    line-height: 130%;
}

span.style, span.event, span.flag {
    font-weight: bold;
    color: #880000;
}

div.styleDesc, div.eventDesc, div.flagDesc {
    margin-left: 3%;
    margin-bottom: 1ex;
}

div.eventHandler {
    margin: 1em;
    text-indent: 3%;
}

div.eventHandler span {
    padding: 5px;
    background-color: #eeeeee;
    font-family: monospace, fixed;
}

code {
    font-size: 110%;
    color: #444444;
}

address.footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #0043CC;
    background-image: url('nav_h.png');
    background-repeat: repeat-x;
    background-color: #F4F8FF;
}

address.footer small {
    padding: 0 10px;
}*/