name: doc

on: [push]

jobs:
  build:
    runs-on: ubuntu-16.04
    container:
        image: tsgkadot/docker-doxygen
    steps:
    - uses: actions/checkout@v2
    - name: generate-and-push-doc
      run: chmod +x scripts/generate_doc_and_deploy.sh && ls -l ./scripts/generate_doc_and_deploy.sh && scripts/generate_doc_and_deploy.sh
      env:
        GH_REPO_NAME: GRAPHGEN
        GH_REPO_REF: github.com/prittt/GRAPHGEN.git
        GH_REPO_TOKEN: ${{ secrets.GH_REPO_TOKEN }}